<div>
    <ul>
        <h3> "My API Data" </h3>
    </ul>
</div>

<div class="list-view">
<div class="main-pane span8">
        <h2>All Targets</h2>
        <table class="table table-striped dataTable">
            <tr>
                <th>Targets</th>
                <th>Targets List</th>
                <th>Leads</th>
                <th>Opportunity</th>
                <th>Accounts</th>
            </tr>
        {{#each targets}}
            {{#if this}}
                    <td>{{this}}</td>
            {{else}}
                <td>Not Available</td>
                    <tr>
                    </tr>
            {{/if}}
            {{/each}}
        </table>

        <h2>All Leads</h2>
    <table class="table table-striped dataTable">
        <tr>
            <th>Leads</th>
            <th>Opportunity</th>
            <th>Accounts</th>
        </tr>
        {{#each lead}}
            {{#if this}}
                <td>{{this}}</td>
            {{else}}
                <tr>
                </tr>
            {{/if}}
        {{/each}}
    </table>

        <h2>All Opportunities</h2>
            <table class="table table-striped dataTable">
                <tr>
                    <th>Opportunity</th>
                    <th>Accounts</th>
                </tr>
                {{#each opportunity}}
                    {{#if this}}
                        <td>{{this}}</td>
                    {{else}}
                        <tr>
                        </tr>
                    {{/if}}
                {{/each}}
            </table>
</div>
</div>
